
@font-face {
  font-family: 'GeourceSansCHS';
  src: url('/fonts/GeourceSansCHS-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeourceSansCHS';
  src: url('/fonts/GeourceSansCHS-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeourceSansCHS';
  src: url('/fonts/GeourceSansCHS-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 代码块字体设置 */
@font-face {
  font-family: 'etBrainsMono';
  font-display: swap;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format("woff2");  
}